@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global stylesheet */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* for Internet Explorer 10+ */
    scrollbar-width: none;  /* for Firefox */
}
